In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
from collections import Counter

## 1. import raw data

In [2]:
raw_data = pd.read_csv('./raw_data/HF_fake_v1.csv',header=None, index_col=None,sep=',')

In [3]:
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,ID,age,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
1,s1,75,75,0,582,0,20,1,121,265000,1.9,130,1,0,4,1
2,s2,55,55,0,7861,0,38,0,154,263358.03,1.1,136,1,0,6,1
3,s3,65,65,0,146,0,20,0,189,162000,1.3,129,1,1,7,1
4,s4,50,50,1,111,0,20,0,206,210000,1.9,137,1,0,7,1

## 2. check duplicated rows/columns

In [4]:
print(f'raw data shape: {raw_data.shape}')

raw data shape: (303, 16)

### 2.1 check duplicated columns

In [5]:
# columns(features) number counts
dict(Counter(raw_data.iloc[0,:].tolist()))

{'ID': 1,
 'age': 2,
 'anaemia': 1,
 'creatinine_phosphokinase': 1,
 'diabetes': 1,
 'ejection_fraction': 1,
 'high_blood_pressure': 2,
 'platelets': 1,
 'serum_creatinine': 1,
 'serum_sodium': 1,
 'sex': 1,
 'smoking': 1,
 'time': 1,
 'DEATH_EVENT': 1}

In [6]:
# duplicated columns(features): count more than one
# print the duplicated features
for k,v in dict(Counter(raw_data.iloc[0,:].tolist())).items():
    if v > 1:
        print(k)

age
high_blood_pressure

In [76]:
# check the duplicated columns/rows: if they are completely the same?
def duplicated_check(raw_data,row_col, name):
    if row_col == 'col':
        d = raw_data.loc[:,raw_data.iloc[0,:] == name].values
        d_len = d.shape[1]

        check = []
        for i in range(d_len-1):
            check.append(list(d[:,i]) == list(d[:,i+1]))

        if sum(check) == d_len-1:
            return 'identical'
        else:
            return 'not identical' 
        
    if row_col == 'row':
        d = raw_data.loc[raw_data.iloc[:,0] == name,:].values
        d_len = d.shape[0]

        check = []
        for i in range(d_len-1):
            check.append(list(d[i,:]) == list(d[i+1,:]))
        
        if sum(check) == d_len-1:
            return 'identical'
        else:
            return 'not identical'

In [73]:
print(f"age: duplicated column names, with {duplicated_check(raw_data,'col','age')} contents")
print(f"high_blood_pressure: duplicated column names, with {duplicated_check(raw_data,'col','high_blood_pressure')} contents")

age: duplicated column names, with identical contents
high_blood_pressure: duplicated column names, with not identical contents

In [12]:
# modify the duplicated columns (if needed)

# which column to remain? suppose the second column:
age = raw_data.loc[:,raw_data.iloc[0,:] == 'age'][2]
high_blood_pressure = raw_data.loc[:,raw_data.iloc[0,:] == 'high_blood_pressure'][8]

# data_dc: processed data without duplicated columns
data_dc = pd.concat([raw_data.loc[:,raw_data.iloc[0,:].isin(['age','high_blood_pressure'])==False],age,high_blood_pressure],axis=1)

### 2.2 check duplicated rows

In [126]:
data_dc.head()

,0,3,4,5,6,9,10,11,12,13,14,15,2,8
0,ID,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age,high_blood_pressure
1,s1,0,582,0,20,265000,1.9,130,1,0,4,1,75,121
2,s2,0,7861,0,38,263358.03,1.1,136,1,0,6,1,55,154
3,s3,0,146,0,20,162000,1.3,129,1,1,7,1,65,189
4,s4,1,111,0,20,210000,1.9,137,1,0,7,1,50,206

In [128]:
# rows(samples) number counts
dict(Counter(raw_data.iloc[:,0].tolist()))

{'ID': 1,
 's1': 1,
 's2': 1,
 's3': 1,
 's4': 1,
 's5': 1,
 's6': 1,
 's7': 1,
 's8': 1,
 's9': 2,
 's10': 1,
 's11': 1,
 's12': 1,
 's13': 1,
 's14': 1,
 's15': 1,
 's16': 1,
 's17': 1,
 's18': 1,
 's19': 1,
 's20': 1,
 's21': 1,
 's22': 1,
 's23': 1,
 's24': 1,
 's25': 1,
 's26': 1,
 's27': 1,
 's28': 1,
 's29': 1,
 's30': 1,
 's31': 1,
 's32': 1,
 's33': 1,
 's34': 1,
 's35': 1,
 's36': 1,
 's37': 1,
 's38': 1,
 's39': 1,
 's40': 1,
 's41': 1,
 's42': 1,
 's43': 1,
 's44': 1,
 's45': 1,
 's46': 1,
 's47': 1,
 's48': 1,
 's49': 1,
 's50': 1,
 's51': 1,
 's52': 1,
 's53': 1,
 's54': 1,
 's55': 1,
 's56': 1,
 's57': 1,
 's58': 1,
 's59': 1,
 's60': 1,
 's61': 1,
 's62': 1,
 's63': 1,
 's64': 1,
 's65': 1,
 's66': 1,
 's67': 2,
 's68': 1,
 's69': 1,
 's70': 1,
 's71': 1,
 's72': 1,
 's73': 1,
 's74': 1,
 's75': 1,
 's76': 1,
 's77': 1,
 's78': 1,
 's79': 1,
 's80': 1,
 's81': 1,
 's82': 1,
 's83': 1,
 's84': 1,
 's85': 1,
 's86': 1,
 's87': 1,
 's88': 1,
 's89': 1,
 's90': 1,
 's91': 1,
 's92': 1,
 's93': 1,
 's94': 1,
 's95': 1,
 's96': 1,
 's97': 1,
 's98': 1,
 's99': 1,
 's100': 1,
 's101': 1,
 's102': 1,
 's103': 1,
 's104': 1,
 's105': 1,
 's106': 2,
 's107': 1,
 's108': 1,
 's109': 1,
 's110': 1,
 's111': 1,
 's112': 1,
 's113': 1,
 's114': 1,
 's115': 1,
 's116': 1,
 's117': 1,
 's118': 1,
 's119': 1,
 's120': 1,
 's121': 1,
 's122': 1,
 's123': 1,
 's124': 1,
 's125': 1,
 's126': 1,
 's127': 1,
 's128': 1,
 's129': 1,
 's130': 1,
 's131': 1,
 's132': 1,
 's133': 1,
 's134': 1,
 's135': 1,
 's136': 1,
 's137': 1,
 's138': 1,
 's139': 1,
 's140': 1,
 's141': 1,
 's142': 1,
 's143': 1,
 's144': 1,
 's145': 1,
 's146': 1,
 's147': 1,
 's148': 1,
 's149': 1,
 's150': 1,
 's151': 1,
 's152': 1,
 's153': 1,
 's154': 1,
 's155': 1,
 's156': 1,
 's157': 1,
 's158': 1,
 's159': 1,
 's160': 1,
 's161': 1,
 's162': 1,
 's163': 1,
 's164': 1,
 's165': 1,
 's166': 1,
 's167': 1,
 's168': 1,
 's169': 1,
 's170': 1,
 's171': 1,
 's172': 1,
 's173': 1,
 's174': 1,
 's175': 1,
 's176': 1,
 's177': 1,
 's178': 1,
 's179': 1,
 's180': 1,
 's181': 1,
 's182': 1,
 's183': 1,
 's184': 1,
 's185': 1,
 's186': 1,
 's187': 1,
 's188': 1,
 's189': 1,
 's190': 1,
 's191': 1,
 's192': 1,
 's193': 1,
 's194': 1,
 's195': 1,
 's196': 1,
 's197': 1,
 's198': 1,
 's199': 1,
 's200': 1,
 's201': 1,
 's202': 1,
 's203': 1,
 's204': 1,
 's205': 1,
 's206': 1,
 's207': 1,
 's208': 1,
 's209': 1,
 's210': 1,
 's211': 1,
 's212': 1,
 's213': 1,
 's214': 1,
 's215': 1,
 's216': 1,
 's217': 1,
 's218': 1,
 's219': 1,
 's220': 1,
 's221': 1,
 's222': 1,
 's223': 1,
 's224': 1,
 's225': 1,
 's226': 1,
 's227': 1,
 's228': 1,
 's229': 1,
 's230': 1,
 's231': 1,
 's232': 1,
 's233': 1,
 's234': 1,
 's235': 1,
 's236': 1,
 's237': 1,
 's238': 1,
 's239': 1,
 's240': 1,
 's241': 1,
 's242': 1,
 's243': 1,
 's244': 1,
 's245': 1,
 's246': 1,
 's247': 1,
 's248': 1,
 's249': 1,
 's250': 1,
 's251': 1,
 's252': 1,
 's253': 1,
 's254': 1,
 's255': 1,
 's256': 1,
 's257': 1,
 's258': 1,
 's259': 1,
 's260': 1,
 's261': 1,
 's262': 1,
 's263': 1,
 's264': 1,
 's265': 1,
 's266': 1,
 's267': 1,
 's268': 1,
 's269': 1,
 's270': 1,
 's271': 1,
 's272': 1,
 's273': 1,
 's274': 1,
 's275': 1,
 's276': 1,
 's277': 1,
 's278': 1,
 's279': 1,
 's280': 1,
 's281': 1,
 's282': 1,
 's283': 1,
 's284': 1,
 's285': 1,
 's286': 1,
 's287': 1,
 's288': 1,
 's289': 1,
 's290': 1,
 's291': 1,
 's292': 1,
 's293': 1,
 's294': 1,
 's295': 1,
 's296': 1,
 's297': 1,
 's298': 1,
 's299': 1}

In [80]:
# duplicated rows(samples): count more than one
# print the duplicated samples
for k,v in dict(Counter(raw_data.iloc[:,0].tolist())).items():
    if v > 1:
        print(f"{k}: duplicated row names, with {duplicated_check(data_dc,'row',k)} contents")

s9: duplicated row names, with identical contents
s67: duplicated row names, with not identical contents
s106: duplicated row names, with not identical contents

In [83]:
data_dc.loc[data_dc.iloc[:,0].isin(['s9','s67','s106']),:]

       0  3    4  5   6          9    10   11 12 13   14 15  2    8
9      s9  0  157  0  65  263358.03  1.5  138  0  0   10  1  65  233
10     s9  0  157  0  65  263358.03  1.5  138  0  0   10  1  65  233
68    s67  1  250  1  15     213000  1.3  136  0  0   65  1  42  260
107  s106  1  328  0  30      0.621  1.7  138  0  1   88  1  72  245
108  s106  0  234  1  30     621000  1.7  138  0  1   90  0  72  178
236   s67  2  330  1  78     340000  0.9  137  1  0  209  0  40  152

In [84]:
# modify the duplicated rows (if needed)

# which row to remain? suppose the second column:
_ = data_dc.loc[data_dc.iloc[:,0].isin(['s9','s67','s106'])==False,:]
data_dc_dr = pd.concat([_, data_dc.iloc[[9,68,107],:]])

In [91]:
# ensure that rows/columns have no duplicated items
len(data_dc_dr.iloc[0,:].tolist()) == len(set(data_dc_dr.iloc[0,:].tolist()))   # True
len(data_dc_dr.iloc[:,0].tolist()) == len(set(data_dc_dr.iloc[:,0].tolist()))   # True

True

In [103]:
# a unique row/columns dataframe:
data_u = data_dc_dr.iloc[1:,1:]
data_u.columns = data_dc_dr.iloc[0,:].tolist()[1:]
data_u.index = data_dc_dr.iloc[:,0].tolist()[1:]

In [105]:
data_u.shape

(299, 13)

In [106]:
data_u.head()

,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age,high_blood_pressure
s1,0,582,0,20,265000,1.9,130,1,0,4,1,75,121
s2,0,7861,0,38,263358.03,1.1,136,1,0,6,1,55,154
s3,0,146,0,20,162000,1.3,129,1,1,7,1,65,189
s4,1,111,0,20,210000,1.9,137,1,0,7,1,50,206
s5,1,160,1,20,327000,2.7,116,0,0,8,1,65,92