In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
from collections import Counter

## 1. import raw data

In [2]:
raw_data = pd.read_csv('./raw_data/HF_fake_v1.csv',header=None, index_col=None,sep=',')

In [3]:
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,ID,age,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
1,s1,75,75,0,582,0,20,1,121,265000,1.9,130,1,0,4,1
2,s2,55,55,0,7861,0,38,0,154,263358.03,1.1,136,1,0,6,1
3,s3,65,65,0,146,0,20,0,189,162000,1.3,129,1,1,7,1
4,s4,50,50,1,111,0,20,0,206,210000,1.9,137,1,0,7,1

## 2. check duplicated rows/columns

In [4]:
print(f'raw data shape: {raw_data.shape}')

raw data shape: (303, 15)

### 2.1 check duplicated columns

In [4]:
# columns(features) number counts
dict(Counter(raw_data.iloc[0,:].tolist()))

{'ID': 1,
 'age': 2,
 'anaemia': 1,
 'creatinine_phosphokinase': 1,
 'diabetes': 1,
 'ejection_fraction': 1,
 'high_blood_pressure': 2,
 'platelets': 1,
 'serum_creatinine': 1,
 'serum_sodium': 1,
 'sex': 1,
 'smoking': 1,
 'time': 1,
 'DEATH_EVENT': 1}

In [5]:
# duplicated columns(features): count more than one
# print the duplicated features
for k,v in dict(Counter(raw_data.iloc[0,:].tolist())).items():
    if v > 1:
        print(k)

age
high_blood_pressure

In [110]:
# check the duplicated columns: if they are completely the same?
def duplicated_columns_check(col_name):
    d = raw_data.loc[:,raw_data.iloc[0,:] == col_name].values
    d_len = d.shape[1]
    
    check = []
    for i in range(d_len-1):
        check.append(list(d[:,i]) == list(d[:,i+1]))
    
    if sum(check) == d_len-1:
        return 'identical'
    else:
        return 'not identical'

In [112]:
print(f"age: duplicated column names, with {duplicated_columns_check('age')} contents")
print(f"high_blood_pressure: duplicated column names, with {duplicated_columns_check('high_blood_pressure')} contents")

age: duplicated column names, with identical contents
high_blood_pressure: duplicated column names, with not identical contents

### 2.2 check duplicated rows