In [2]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np

In [3]:
raw_data = pd.read_csv('./raw_data/HF_fake_v1.csv',header=None, index_col=None,sep=',')

In [4]:
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,ID,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
1,s1,75,0,582,0,20,1,121,265000,1.9,130,1,0,4,1
2,s2,55,0,7861,0,38,0,154,263358.03,1.1,136,1,0,6,1
3,s3,65,0,146,0,20,0,189,162000,1.3,129,1,1,7,1
4,s4,50,1,111,0,20,0,206,210000,1.9,137,1,0,7,1